# IntelliJ project files
.idea
*.iml
out
gen### Java template
*.class
*.classpath
/.classpath
target
.classpath
*.classpath
/.classpath

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
rebel.xml
*.DS_Store
